.post-it-board {
    background: url('../../assets/images/postitboard.jpeg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 450px; 
    border: 20px solid #E3A86D;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
  }
  
  .sticky-note {
    position: absolute;
    width: 100px;
    height: 100px;
    resize: none;
    padding: 10px;
    cursor: pointer;
    border: none;
  }

  .post-it-options{
    cursor: pointer;
    border-radius: 7.144px;
    border: 0.4px solid #000;
    background: #FFF;
    box-shadow: 0px 3.572px 3.572px 0px rgba(0, 0, 0, 0.25);
    width: 2em;
    height: 3em;
    margin-left: 10px;
    margin-top: calc(225px - 3em);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #addNoteImg{
    height: auto;
    width: 1.5em;
  }

  .legs{
    display: block;
    margin: auto;
  }
  
  .image-container {
    position: relative;
    width: 100%;

    .bubble{
      width: 85%;
    }
  }
  
  .info-text {
    position: absolute;
    color: black;
    font-size: 1.2em;
    font-family: Varela Round;
    font-weight: 600;
    left: 5%;
    top: 10%;
    @media screen and (min-width: 1600px) {
      font-size: 1.7em;
    }
  }

  .info-text-desc {
    position: absolute;
    color: black;
    font-size: 1em;
    font-family: Varela Round;
    font-weight: 400;
    left: 5%;
    top: 45%;
    background-color: #ECC444;
    @media screen and (min-width: 1600px) {
      font-size: 1.5em;
    }
  }

  .interactive-desc{
    width: 75%;
    border: .7em solid #CC3879;
    border-radius: 8px;
    margin-left: 10%;
    margin-top: -1%;
    padding: .5em 3em .5em 3em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .desc-text{
    color: black;
    font-size: 1em;
    font-family: Varela Round;
  }

  .channel-text{
    font-family: "Varela Round";
    color: black;
    font-size: 1.7em;
  }

  .social-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 3em;
    cursor: pointer;
  }