<div class="name-tag-container">
    <div class="grid-container">
        <img class="name-tag-image" src="assets/svgs/name_tag.svg" alt="Name Tag">
        <div class="text-bubble top">
            <img class="bubble-image img-bubble-top" src="assets/gifs/text-bubble-5.gif" alt="">
            <span class="bubble-text">Belief In Equal Access</span>
        </div>
        <div class="text-bubble right">
            <img class="bubble-image" src="assets/gifs/text-bubble-5.gif" alt="">
            <span class="bubble-text">Driving Innovative Change</span>
        </div>
        <div class="text-bubble bottom-right">
            <img class="bubble-image img-bubble-bottom-right" src="assets/gifs/text-bubble-5.gif" alt="">
            <span class="bubble-text">Passion for Web Accessibility</span>
        </div>
        <div class="text-bubble bottom-left">
            <img class="bubble-image img-bubble-bottom-left" src="assets/gifs/text-bubble-5.gif" alt="">
            <span class="bubble-text">Drawing from Life</span>
        </div>
        <div class="text-bubble left">
            <img class="bubble-image" src="assets/gifs/text-bubble-5.gif" alt="">
            <span class="bubble-text">Advocate for Inclusivity</span>
        </div>
    </div>
</div>