<div class="projects-container">
    <div class="project-rectangle project-ea">
        <img src="././assets/svgs/ea-logo.svg" alt="EA" class="logo-ea">
    </div>
    <div class="project-rectangle project-brainbloom">BRAINBLOOM BOX.</div>
    <div class="project-rectangle project-aba">
      <img src="././assets/images/aba-logo.png" alt="ABA Compass Logo" class="logo-aba">
    </div>
    <div class="project-rectangle project-milestones">
        <img src="././assets/images/milestones-logo.png" alt="Milestones" class="logo-milestones">
    </div>
</div>