.top-btn{
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 42px;
}

.container{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: row; 
    height: auto;
    height: 100vh;
}

.left-side-nav{
    background-color: rgb(248, 247, 255);
    overflow-y: auto;
    width: 13%;
    z-index: 1200;
    flex: 0 0 13%;
    height: 100vh;
}

.inner-nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-top: 24px;
    width: 100%;
    height: calc(100% - 12px - 24px);
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
}

.nav-item{
    border-radius: 12px;
    cursor: pointer;
    flex-grow: 1; /* Grow to fill available space */
    /* Optionally ensure they don't shrink below their content size */
    flex-shrink: 0; 
    padding: 12px;
    pointer-events: all;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
    font-family: Sniglet;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-nav-item{
    background-color: #D9D9D9;
}

.approach-nav-item{
    background-color: #929089;
}

.projects-nav-item{
    background-color: #ECC444;
}

.inclusive-insights-nav-item{
    background-color: #CC3879;
}

.contact-nav-item{
    background-color: #3E3B56;
}

.main-content{
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    width: calc(100%);
    background-color: #F4F4F4;
    overflow-y: auto; /* Add this line if not present */
    padding: 6.5%;
    border-radius: 15px;
    border: 6px solid #D9D9D9;
    box-sizing: border-box;
}

.content-section{
    display: flex;
    height: 100%;
    margin-bottom: 140px;
    border-radius: 12px;
    box-sizing: border-box;
}

#nameTag{
    width: 436px;
    height: 313px;
    position: relative;
    z-index: 10;
}

#section1{
    width: 100%;
    height: 1000px!important;
    background-color: #d9d9d9;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-tag-container {
    position: relative;
    display: inline-block; /* Align the bubbles to this block */
}

.text-bubble {
    position: absolute;
}

.bubble-top {
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 463px;
    height: 331px;
}

.bubble-right {
    top: 10%;
    right: -100%;
    transform: translateY(-50%);
    width: 463px;
    height: 331px;
}

.bubble-bottom-right {
    bottom: -100%;
    left: 120%;
    transform: translateX(-50%);
    width: 463px;
    height: 331px;
}

.bubble-bottom-left {
    bottom: -100%;
    left: -30%;
    transform: translateX(-50%);
    width: 463px;
    height: 331px;
}

.bubble-left {
    top: 10%;
    left: -100%;
    transform: translateY(-50%);
    width: 463px;
    height: 331px;
}

app-post-it-board{
    flex-grow: 1;
}

#section2{
    width: 100%;
    height: 1000px;
    background-color: #d9d9d9;
}

#section3{
    width: 100%;
    height: 1000px;
    background-color: #d9d9d9;
}

#section4{
    background-color: #FAFAFA;
    border-radius: 15px;
    border: 6px solid #CC3879;
    padding: 55px;
}

#section5{
    width: 100%;
    height: 1000px;
    background-color: #d9d9d9;
}