.top-btn{
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 42px;
}

.container{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: row; 
    height: auto;
    height: 100vh;
}

.left-side-nav{
    background-color: rgb(248, 247, 255);
    overflow-y: auto;
    width: 13%;
    z-index: 1200;
    flex: 0 0 13%;
    height: 100vh;
}

.inner-nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-top: 24px;
    width: 100%;
    height: calc(100% - 12px - 24px);
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
}

.nav-item{
    border-radius: 12px;
    cursor: pointer;
    flex-grow: 1; /* Grow to fill available space */
    /* Optionally ensure they don't shrink below their content size */
    flex-shrink: 0; 
    padding: 12px;
    pointer-events: all;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
    font-family: Sniglet;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-nav-item{
    background-color: #D9D9D9;
}

.approach-nav-item{
    background-color: #929089;
}

.projects-nav-item{
    background-color: #ECC444;
}

.inclusive-insights-nav-item{
    background-color: #CC3879;
}

.contact-nav-item{
    background-color: #3E3B56;
}

.main-content{
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    width: calc(100%);
    background-color: #F8F7FF;
    overflow-y: auto; /* Add this line if not present */
    box-sizing: border-box;
}

@media (max-width: 1599px) {
    .left-side-nav{
        flex: 0 0 17%;
    }
}

.content-section{
    display: flex;
    height: auto;
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#nameTag{
    width: 436px;
    height: 313px;
    position: relative;
    z-index: 10;
}

.name-tag-container {
    position: relative;
}

.text-bubble {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 20vw;
}

.text-bubble img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bubble-text {
    position: absolute;
    color: black;
    font-family: Signika Negative;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    width: 70%;
    transform: rotate(0deg)!important; 
}

.bubble-top {
    top: -105%;
}

.img-bubble-top {
    transform: scaleX(-1);
}

.bubble-right {
    top: -40%;
    right: -90%;
}

.bubble-bottom-right {
    bottom: -100%;
    left: 60%;
}

.img-bubble-bottom-right {
    transform: rotate(180deg) scaleX(-1);
}

.bubble-bottom-left {
    bottom: -100%;
    left: -80%;
}

.img-bubble-bottom-left {
    transform: rotate(180deg);
}

.bubble-left {
    top: -50%;
    left: -100%;
}

.img-bubble-left {
    transform: scaleX(-1);
}

@media (max-width: 1599px) {
    #nameTag{
        width: 366px;
        height: 243px;
        position: relative;
        z-index: 10;
    }
    
    .bubble-text {
        font-size: 1.5em;
    }
    
    .bubble-top {
        top: -115%;
    }
    
    .bubble-right {
        top: -40%;
        right: -90%;
    }
    
    .bubble-bottom-right {
        bottom: -100%;
        left: 80%;
    }
    
    .bubble-bottom-left {
        bottom: -100%;
        left: -70%;
    }
    
    .bubble-left {
        top: -50%;
        left: -100%;
    }
}

app-post-it-board, app-projects{
    flex-grow: 1;
}

.about-title{
    color: #000;
    font-family: "Share";
    font-size: 6em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 0;
    left: .5em;
}

#section1{
    width: 100%;
    height: 110%;
    background-color: #F3EFEF;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 6px solid #ded3d3;
}


@media (max-width: 1599px) {
    #section1{
        height: 150%;
    }
}

@media (max-width: 1450px) {
    #section1{
        height: 120%;
    }
}


#section2{
    width: 100%;
    height: 1000px;
    background-color: #d9d9d9;
}

#section3{
    width: 100%;
    height: auto;
    background-color: #FAEFCD;
    border: 6px solid #ECC444;
}

#section4{
    background-color: #FAFAFA;
    border-radius: 15px;
    border: 6px solid #CC3879;
    padding: 55px;
}

#section5{
    width: 100%;
    height: 1000px;
    background-color: #d9d9d9;
}