<!-- <button class="top-btn">Back to Top</button> -->
<div class="container">
  <div class="left-side-nav">
    <div class="inner-nav">
      <div class="nav-item about-nav-item" data-target="section1" (click)="scrollToSection('section1')">About</div>
      <div class="nav-item approach-nav-item" data-target="section2" (click)="scrollToSection('section2')">Approach</div>
      <div class="nav-item projects-nav-item" data-target="section3" (click)="scrollToSection('section3')">Projects</div>
      <div class="nav-item inclusive-insights-nav-item" data-target="section4" (click)="scrollToSection('section4')">Inclusive Insights</div>
      <div class="nav-item contact-nav-item" data-target="section5" (click)="scrollToSection('section5')">Contact</div>
    </div>
  </div>

  <div #mainContent class="main-content">
    <section id="section1" class="content-section">
      <div class="name-tag-container">
          <img id="nameTag" src="assets/svgs/name_tag.svg" alt="Name Tag">
          <div class="text-bubble bubble-top">
              <img class="img-bubble-top" src="assets/gifs/text-bubble-5.gif" alt="">
              <span class="bubble-text">Driving Innovative Change</span>
          </div>
          <div class="text-bubble bubble-right">
              <img class="img-bubble-right" src="assets/gifs/text-bubble-5.gif" alt="">
              <span class="bubble-text">Belief In Equal Acess</span>
          </div>
          <div class="text-bubble bubble-bottom-right">
              <img class="img-bubble-bottom-right" src="assets/gifs/text-bubble-5.gif" alt="">
              <span class="bubble-text">Passion for Web Accessibility</span>
          </div>
          <div class="text-bubble bubble-bottom-left">
              <img class="img-bubble-bottom-left" src="assets/gifs/text-bubble-5.gif" alt="">
              <span class="bubble-text">Drawing from Life</span>
          </div>
          <div class="text-bubble bubble-left">
              <img class="img-bubble-left" src="assets/gifs/text-bubble-5.gif" alt="">
              <span class="bubble-text">Advocate for Inclusivity</span>
          </div>
      </div>
    </section>
    <section id="section2" class="content-section"></section>
    <section id="section3" class="content-section"></section>
    <section id="section4" class="content-section"><app-post-it-board></app-post-it-board></section>
    <section id="section5" class="content-section"></section>
  </div>
</div>
