<!-- <button class="top-btn">Back to Top</button> -->
<div class="container">
  <div class="left-side-nav">
    <div class="inner-nav">
      <div [ngStyle]="{'background-color': showLouImage ? '#cec9c8' : '#F8F7FF'}" class="nav-item lou-nav-item"  data-target="sectionHome" (click)="scrollToSection('sectionHome')">
        <img class="lou-gif" *ngIf="showLouImage" src="./assets/gifs/lou.gif" alt="Lou" />
        <div *ngIf="!showLouImage">lou.</div>
      </div>
      <div class="nav-item about-nav-item" data-target="section1" (click)="scrollToSection('section1')">About</div>
      <div class="nav-item projects-nav-item" data-target="section2" (click)="scrollToSection('section2')">Projects</div>
      <div class="nav-item inclusive-insights-nav-item" data-target="section3" (click)="scrollToSection('section3')">Inclusive Insights</div>
      <div class="nav-item contact-nav-item" data-target="section4" (click)="scrollToSection('section4')">Contact</div>
    </div>
  </div>

  <div #mainContent class="main-content">
    <section id="sectionHome" class="content-section">
      <div class="top-links">
      </div>
      <div class="title-section">
        <h1>Lilyan</h1>
        <h1>Tweddle</h1>
        <h2>Research. Design. Accessibility.</h2>
      </div>
    </section>
    <section id="section1" class="content-section">
      <span class="about-title">Who I Am</span>
      <div class="who-i-am">
        <app-name-tag></app-name-tag>
        <div class="intro-paragraph-div">
          <div class="top-box"><span class="top-box-text">Welcome to my world of design—where empathy meets innovation.</span></div>
          <div class="bottom-box"><span class="bottom-box-text">I'm Lilyan Tweddle, a UX designer driven by a vision of a world where digital access is universal. Inspired by the real challenges that people close to me have faced, I am deeply committed to transforming how we think about and implement accessibility. My approach blends empathy with innovation, striving to create digital experiences that are not just usable, but truly empowering for everyone.
            <br/><br/>Every design I craft is a step towards a future where technology connects us all more deeply, breaking down barriers and opening up new realms of possibility. I am passionate about pushing the boundaries of what accessible design can achieve, making each interaction a celebration of diversity and capability.
            <br/><br/>Join me on this transformative journey, as we innovate and inspire to build a more inclusive and accessible digital world.</span></div>
        </div>
      </div>
      <span class="about-title">How I Got Here</span>
      <div class="how-i-got-here">
      </div>
    </section>
    <section id="section2" class="content-section">
      <span class="about-title">Projects</span>
      <app-projects></app-projects>
    </section>
    <section id="section3" class="content-section">
      <span class="about-title">Let's Innovate Together!</span>
      <app-post-it-board></app-post-it-board>
    </section>
    <section id="section4" class="content-section"></section>
  </div>
</div>
